{#
/**
 * @file ps_political_division.html.twig
 * Default theme implementation to present Political division data.
 *
 * This template is used when viewing Political division pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ps_political_division()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ps_political_division') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
